<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/users/<%= User._id %>" method="post">
        <% if (typeof(errors) !== 'undefined'){ %>
  <div class="alert alert-danger">
  <ul>
    <% for (let error in errors){ %>
      <li><%= errors[error].message %></li>
    <% } %>
  </ul>
  </div>
<% } %>
	<div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control" value="<%= User.username %>">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control" value="<%= User.email %>">
        </div>

        <div class="form-group">
          <label for="aboutme">About Me</label>
          <textarea
            id="description"
            name="aboutme"
            class="form-control">
            <%= User.aboutme %>
          </textarea>
        </div>
        <div class="form-group">
          <label for="role">Are you a Pet Owner, Sitter, Groomer or Walker?</label><br>
          <select name="role" id="category">
            <% role.forEach((role) => { %>
            <!-- This selects the campaign's category in the dropdown -->
              <% if (role === User.role) { %>
                <option
                  selected
                  type="text"
                  value="<%= role %>"
                  class="form-control">
                <%= role %>
                </option>
              <% } else { %>
                <option type="text" value="<%= role %>" class="form-control"><%= role %></option>
              <% } %>
            <%  }) %>
          </select>
        </div>
        <div class="form-group">
          <label for="image">Paste URL</label>
          <input id="image" name="image" class="form-control" value="<%= User.image %>">
        </div>

        <div class="form-group">
          <button type="submit">Update Your Info</button>
        </div>
      </form>
    </div>
  </div>
</div>
